.grid-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  @media screen and (max-width: 40rem) {
    justify-content: center;
    margin: 0;
  }
}


.grid {
  display: grid;
  grid-template-columns: repeat(7, 252px);

  visibility: hidden;
  pointer-events: none;
  max-height: 0px;

  &.active {
    max-height: unset;
    visibility: visible;
    pointer-events: auto;
  }

  @media screen and (max-width: 40rem) {
    grid-template-columns: repeat(7, 100%);
    margin: 0;

  }
}

.column {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  transition-duration: 1s;

  &:nth-child(1) {
    margin-top: 0px;
    transition-delay: $columns-transitions-delay * 0;
  }

  &:nth-child(2) {
    margin-top: 160px;
    transition-delay: $columns-transitions-delay * 1;

  }

  &:nth-child(3) {
    margin-top: 320px;
    transition-delay: $columns-transitions-delay * 2;

  }

  &:nth-child(4) {
    margin-top: 480px;
    transition-delay: $columns-transitions-delay * 3;

  }

  &:nth-child(5) {
    margin-top: 320px;
    transition-delay: $columns-transitions-delay * 4;

  }

  &:nth-child(6) {
    margin-top: 160px;
    transition-delay: $columns-transitions-delay * 5;

  }

  &:nth-child(7) {
    margin-top: 0px;
    transition-delay: $columns-transitions-delay * 6;

  }

  @media screen and (max-width: 40rem) {
    margin-top: 0;
    align-items: center;
    justify-content: center;
  }

}

.item {
  width: 236px;
  height: 350px;
  background: url('https://source.unsplash.com/random') center center;
  background-size: cover;
  border-radius: 10px;

  @media screen and (max-width: 40rem) {
    width: 400px;
    max-width: 100%;

  }

  &:not(:first-child) {
    margin-top: 16px;
  }
}