header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 28px 15px 24px;

  

  h3 {
    color: $red;
    font-weight: 700;
    font-size: 20px;
  }

  nav {
    display: flex;
    align-items: center;
    @media screen and (max-width: 40rem) {
      display: none;
    }

    ul {
      display: flex;
      align-items: center;

      li {
        padding: 16px;
        a {
          text-decoration: none;
          font-size: 16px;
          color: $black;
          font-weight: 700;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .buttons {
      display: flex;
      button {
        font-size: 16px;
        font-weight: 700;
        padding: 11px 12px;
        border: none;
        border-radius: 24px;

        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        outline: none;
      }

      .login {
        background: $red;
        color: $white;
      }

      .signup {
        margin-left: 16px;
        background: $gray-light;
      }
    }
  }
}