.heading {
  margin-top: 120px;

  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;

  @media screen and (max-width: 40rem) {
    margin-top: 20px;
  }

  .text {
    font-size: 60px;
    font-weight: 600;

    @media screen and (max-width: 40rem) {
      font-size: 40px;
      text-align: center;
    }
  }

  .wrapper {
    position: relative;

    .offset {
      position: absolute;
      top: 0;
      left: 0;
      transform: translateX(-50%);
    }

    .text {
      white-space: nowrap;
      color: $red;

      transition-duration: 1s;
    }
  }
}